@media screen and (max-width: 720px) {
  #home{
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
  }

  #home div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(239, 217, 91);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home img{
    width: 200px;
    height: 180px;
  }

  #home h2, #home p{
    width: 400px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  #home h2{
    font-size: 24px;
    margin: 20px 0;
    font-weight: 800;
  }

  #home p{
    font-size: 16px;
    opacity: 0.55;
  }
  #home button{
    background-color: lightseagreen;
    color: white;
    font-weight: 400;
    width: 30%;
    padding: 10px 0;
  }

  /* REGISTRATION FORM */

  .form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-container form{
    width: 90%;
    background: url(./images/todo-7.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-container form div{
    display: flex;
    flex-direction: column;
  }

  .form-container form input{
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 0.1rem gray solid;
  }

  ::placeholder{
    opacity: 0.4;
    padding: 10px 0;
    font-size: 14px;
  }


  #task{
    padding: 20px 10px;
    background-image: linear-gradient(rgba(239, 217, 91, 0.7) 50%, #fff 50%) ;
    min-height: 100vh;
  }

  #task .menu-bar{
    display: flex;
    flex-direction: column;
  }

  #task .bar{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    cursor: pointer;
  }

  .profile{
    display: flex;
    align-items: center;
  }

  .profile-details{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: space-between;
    flex-basis: 70%;
  }

  .profile-details h4, .profile-details p{
    display: center;
    margin: auto 0;
    padding: 5px 0;
  }

  .profile-details h4 strong{
    font-size: 2rem;
    padding-left: 4px;
    color: lightseagreen;
    font-family: 'Satisfy', cursive;
  }

  .profile-img-container{
    text-align: end;
    flex-basis: 30%;
    display: flex;
  }
  .profile-img-inner-container{
    margin-left: auto;
    width: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    background-color: lightseagreen;
    text-align: center;
    justify-content: center;
  }

  .profile-img-container i{
    font-size: 40px;
    color: white;
  }

  .new-task{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: lightseagreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .new-task i{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
  }
  .task-input form{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .task-input form input{
    width: 100%;
    border: none;
    height: 35px;
    padding: 0 5px;
    margin: 3px 0;
    outline: none;
    color: rgb(0, 0, 0);
  }
  .task-input form input:focus-within{
    background-color: white;
  }

  .task-input .submit{
    width: 100%;
    background-color: lightseagreen;
    color: white;
    margin: 3px 0;
  }
  .task-input .submit:hover{
    color: white;
  }

  .tasks-list{
    background-color: red;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
  }

  .task-box-container{
    background-color: blue;
    min-height: 150px;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 200px;
    position: relative;
  }

  .task-box-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .task-box-info{
    word-wrap: break-word;
    word-break: break-all;
  }

  .task-box-category{
    font-size: 1.25rem;
    font-weight: bold;
  }

  .edit-task{
    position: absolute;
    right: 2%;
    top: 2%;
  }

  .delete-task{
    position: absolute;
    right: 2%;
    bottom: 2%;
  }

  .delete-task, .edit-task{
    padding: 5px;
    /* color: white; */
  }
}
